.bottomNavs {
    height:30px;
    width: 30px;
    padding-left:7px;
    padding-right: 7px;
    margin-top:20px;
  

    @mixin atSmall {
        padding-left: 15px;
        padding-right: 15px;
        
    }

    @mixin atMedium {
        padding-left: 20px;
        padding-right: 20px;
        height: 40px;  
        width: 40px;
    }

    @mixin atLarge {
        height: 45px;  
        width: 45px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &--flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        margin: auto;
    
    }

    &--glow {

        box-shadow: 0 0 10px rgb(84, 106, 233);
        border-radius: 50%;
        height: 30px;  
        width: 30px;
        margin-top:20px;
  
        @mixin atMedium {
            height: 40px;  
            width: 40px;
     
        }

        @mixin atLarge {
            height: 45px;  
            width: 45px;
        }
    }
    
    &--text {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.5rem;
        color: black;

          
    @mixin atSmaller {
        margin-bottom: 20px;

    }

        @mixin atMedium {
            padding-top: 0;
            font-size: 0.7rem;
        }

        @mixin atLarge{
            font-size: 0.7rem;

        }
    } 
}

.bottomNavs:hover {
        box-shadow: 0 0 10px rgb(221, 84, 233);
        border-radius: 50%;
        padding: 0;

}