.mainBoxBlack {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    color: rgb(49, 47, 47);
    opacity: 0.9;
    width: 92vw;
    height: 75vh;
    margin:auto;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(78, 78, 78);
     


    @mixin atMedium {
        margin-left: auto;
        margin-right: auto;

    }

    &--projects {
         height: 100vh;
    }

    &--image {
        margin:auto;

        @mixin atMedium {
            margin:auto;
            
        }
    }

    &--imageDev {
        width:180px;
        height: 180px;
        border-radius: 2%;


        @mixin atSmall {
            width:230px;
            height: 230px;

        }
    }

    &--imageIntroSection {
        width:150px;
        height: 150px;
        border-radius: 2%;

         @mixin atSmaller {
            width:200px;
            height: 200px;

        }

        @mixin atSmall {
            width:220px;
            height: 220px;

        }

        @mixin atMedium {
            width:240px;
            height: 240px;

        }     

        @mixin atLarge {
            width:300px;
            height: 300px;

        }  
    }

    &--imageContactSection {
        width:150px;
        height: 150px;
        border-radius: 2%;
        padding-top:5px;

        @mixin atSmall {
            width:230px;
            height: 230px;

        }
    }

    &--imageProjectSection {
        width:150px;
        height: 150px;
        border-radius: 2%;


        @mixin atSmall {
            width:230px;
            height: 230px;

        }  
        
         @mixin atMedium {
            width:260px;
            height: 260px;

        } 

       
    }

    &--imageInProgress {
        width:250px;
        height: 250px;
        border-radius: 2%;

        @mixin atLarge {
           width:300px;
            height: 300px;
            
        }
    }

    &--introText {
        font-size: 0.6rem;
        padding:10px;
        font-weight: 500;
      
        @mixin atSmaller {
            width: 450px;
            padding-right: 50px;
            margin:auto;
            font-size: 0.7rem;
           
        }

        @mixin atSmall {
           line-height: 1.2rem;
            padding-right: 50px;
            margin:auto;
            font-size: 0.9rem;
           
        }


        @mixin atMedium {
            width: 600px;
            padding-right: 20px;
            
        }
    }
    
    &--textAlignRight {
       text-align: right;
      
    }

    &--inProgressText {
        margin: auto;
        font-size: 0.7rem;
        text-align: center;
        padding-bottom: 10px;

        @mixin atMedium {
            font-size: 0.9rem;

        }
    }

    &--contactText {
        font-size: 0.6rem;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;

        @mixin atSmaller {
            padding-right: 10px;
            line-height:1.2rem;
            margin:auto;
            font-size: 0.7rem;
            font-weight: 700;
            
        }

        @mixin atSmall {
            
                font-size: 0.8rem;
                font-weight: 700;
            
        }

         @mixin atMedium {
         
                font-size: 0.9rem;
                font-weight: 500;
               
            
        }

        @mixin atLarge {
                padding-right: 50px;
               
            
        }

    }

}