.portfolio {

    &--cardView {
        background-color: white;
        margin: auto; 
        padding: 20px;
        box-shadow: inset 0 0 2px rgb(78, 78, 78);

        @mixin atMedium {
            padding-left: 50px;
            padding-right: 50px;
            border-radius:30px;
        }

    }

    &--thumbnail {
        height:70px;
        width:70px;
        padding: 5px;
        border-radius: 20px;

        @mixin atSmaller {
            height:80px;
            width:80px;
            padding: 15px;
        }

        @mixin atMedium {
            height:85px;
            width:85px;
            padding: 5px;
        }

        @mixin atLarge {
            height:130px;
            width:130px;
            padding: 10px;
            
        }
    }

    &--thumbnail:hover {
        transition: transform .2s;
        height:75px;
        width:75px;

        @mixin atMedium {
           transition: transform .2s;
            height:115px;
            width:115px;
        }
        
    }

    &--description {
        margin: auto;
        font-size:0.6rem;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: black;

        @mixin atSmaller {
          
            font-size:0.7rem;
        }

        @mixin atSmall {
            text-align: left;
            font-size:0.8rem;
        }

        @mixin atMedium {
            font-size:0.9rem;
            line-height: 1.1rem;
            
        }

        @mixin atLarge {
             line-height: 1rem;
            font-size:0.9rem;
        }
    }
}