.skillsIcon {

    &--icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
       padding-left: 5px;
       padding-right: 5px;

       @mixin atSmall {
           padding-left: 20px;
            padding-right: 20px;

       }

       @mixin atLarge {
           padding-left: 25px;
            padding-right: 25px;

       }
    }

    &--text {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.5rem;
        padding-right: 5px;
        font-weight: 500;

          @mixin atSmaller {
            font-size: 0.7rem;
        }


        @mixin atSmall {
            font-size: 0.8rem;
        }

        @mixin atMedium {
            font-size: 0.8rem;
            padding-right: 10px;
            line-height: 1.1rem;
        }

        

    }

    &--iconText {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.5rem;
        font-weight: 600;

        @mixin atSmaller {
            font-size: 0.6rem;
        }

         @mixin atSmall {
            font-size: 0.8rem;
        }
       
        @mixin atLarge {
            font-size: 0.8rem;
            text-align: center;
            

        }
    }

     &--titleText {
        border-bottom: 0.5px solid #bbb7b7;
        width: 65px;
        text-align: left;
        font-weight: 700;

        @mixin atSmaller {
            font-size: 0.7rem;
        }

        @mixin atSmaller {
            font-size: 0.8rem;
        }

        @mixin atMedium {
            width: 80px;
        }

        @mixin atLarge {
            margin-top: 30px;
        }
    }
}

.skillsIcon--icon:hover {
        padding: 1px;
        border-radius: 50%;
        box-shadow: 0 0 40px #7e9af5; 
        transition: .7s ease-out;
}